.post {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    float: left;
}

.name {
    float: left;
    margin-left: 15px;
    line-height: 30px;
}

.text {
    float: left;
    width: 100%;
    margin-top: 5px;
}