.dialog_grid {
    display: grid;
    grid-template-columns: 4fr 8fr;
}

.dialogs {
    padding: 5px;
}

.dialog {
    display: block;
    padding: 10px 15px;
    margin: 5px 0;
    background-color: #aaa;
    border-radius: 10px;
}

.dialog__active{
    background-color: #eee;
}

.messages {
    padding: 5px;
    background-color: #fff;
}

.message {
    padding: 10px;
    margin: 15px 0 30px;
    background-color: white;
    border-radius: 20px;
    position: relative;
    box-shadow: 6px 4px 14px -5px #aaa;
    border: 1px solid #eee;
}